<% if @utilisateur.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@utilisateur.errors.count, "error") %>.
	</div>
	<ul>
    <% @utilisateur.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
