
<div class="jumbotron">
  <div class="container">
    <div class="jumbotron">
        <h1>LE BLOG</h1>
        <p>Un blog est un type de site web - ou une partie d(un site web - utilisé pour la publication périodique et régulière d'articles, généralement succincts, et rendant compte d'une actualité autour d'un sujet donné ou d'une profession. (<a href ="https://fr.wikipedia.org/wiki/Blog">Wikipedia</a></a>)</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
  </div>
</div>

