<div class="container">
    <footer class="footer">
        <small>
            Copyright copy; <a href="ensa.uit.ac.ma">Ecole Nationales Des Scienes Appliquées, Kénitra, Maroc.</a>
        </small>
    </footer>
    <nav>
        <ul>
            <li><%= link_to "Contact", contact_path %></i>
            <li><%= link_to "Aide", aide_path %></i>
        </ul>
    </nav>
</div>
